.custom-lang-flag{
  max-width: 30px;
}

.fullwidth{
  width: 90%;
}

.sample-images{
  margin-top: 1rem;
}

.marginleft{
  margin-left: 1rem;
}

.centered{
  justify-content:center;
  display: flex;
}

.smallfont{
  font-size: 0.7em;
}
