<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button text="{{'Forgot-Back' | translate}}" defaultHref="/signin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <!-- <h1 class="logo-placeholder">{{'AppName' | translate}}</h1> -->
      <img class="custom-horizontal" src="assets/logo-horizontal.png">
      <p>{{'Forgot-Reset' | translate}}</p>
    </div>

    <form class="form-default">
      <ion-list class="item-card-list" lines="none">

        <ion-item>
          <ion-label color="tertiary" position="floating">{{'Forgot-Email' | translate}}</ion-label>
          <ion-input type="email" [(ngModel)]="username" autocomplete="off" placeholder="{{'Forgot-EmailHint' | translate}}"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button class="ion-margin-top" expand="block" color="primary" (click)="validate()" [disabled]="loading">
        {{ loading ? 'Processing...' : ('Forgot-ResetButton'  | translate)}}
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <small>&copy; {{current_year}} {{'AppName' | translate}}</small>
      </ion-text>
    </div>

  </div>

</ion-content>
