.my-badges{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;

  .smallest-font{
    font-size: 10px;
  }
}

.my-badges-button{
  display: flex;
  justify-content: flex-end;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #DDD;
  padding-bottom: 10px;

  .smallest-font{
    margin-right: 10px;
    font-size: 10px;
  }
}

.left-aligned{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fullwidth{
  width: 100%;
}

.font-size-small{
  font-size: 0.5rem;
}

.no-border{
  --border-color:white;
}
