@font-face {
   font-family: 'Minion';
   src: url('../assets/fonts/minion.ttf');
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: 'Isidora';
   src: url('../assets/fonts/isidora.ttf');
   font-weight: 200;
   font-style: normal;
 }
