// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #b2bd66;//1461a3;
	--ion-color-primary-rgb: 178, 189, 102;//20, 97, 163;
	--ion-color-primary-shade: #646b36;
	--ion-color-primary-tint: #868f4f;//1461a3;

  /** secondary **/
	--ion-color-secondary: #3f3e3e;
	--ion-color-secondary-rgb: 63, 62, 62;
	--ion-color-secondary-shade: #1c242e;
	--ion-color-secondary-tint: #544d4d;

  /** tertiary **/
	--ion-color-tertiary: #afa683;//7E90A9;
	--ion-color-tertiary-rgb: 175, 166, 131;//126,144,169;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #57513c;//6f7f95;
	--ion-color-tertiary-tint: #968a5a;//8b9bb2;

  /** success **/
  --ion-color-success: #79b352;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-shade: #b7d4a3;
  --ion-color-success-tint: #599c2c;

  /** warning **/
  --ion-color-warning: #d9c260;
  --ion-color-warning-rgb: 217, 194, 96;
  --ion-color-warning-contrast: #FFF;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #8a7d46;
  --ion-color-warning-tint: #a69032;

  /** danger **/
	--ion-color-danger: #F47068;
	--ion-color-danger-rgb: 244,112,104;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #d7635c;
	--ion-color-danger-tint: #f57e77;

  /** medium **/
  --ion-color-medium: #546273;
	--ion-color-medium-rgb: 84,98,115;
	--ion-color-medium-shade: #4a5665;
	--ion-color-medium-tint: #657281;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ios body {
}

.ios ion-modal {
  --ion-toolbar-background: transparent;
  --ion-toolbar-border-color: transparent;
}
