.custom-lang-flag{
  max-width: 30px;
}

.bigger-icon{
  font-size: 5em;
  color: var(--ion-color-primary);
}

.marginleft{
  margin-left: 1rem;
}

.fullwidth{
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
